# Dossiers à ignorer
node_modules/
logs/
coverage/

jest-html-reporters-attach/


# Fichiers à ignorer
*.log
*.pid
*.lock
*.sqlite
*.db
*.DS_Store

*-report.html

# Environnements spécifiques
.env
.env.local
.env.development
.env.test
.env.production
package-lock.json

# Dépendances de gestion de package
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp
.pnp.js
.pnpm
pnpm-debug.log
